body {
  width: auto;
  font-family: 'Mulish';
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}


.navigation{
  width: 100%;
  text-align: center;
  height: 238px;

}

#nav-list{
 list-style-type: none;
 margin-right: 8%;
}

#nav-list li{
 display: inline;
 font-size: 18px;
 margin: 20px;
 padding-right: 0px;
 padding-top: 45px;
 float: right;

}
#nav-list li a {
color: #373F41;
text-decoration: none;
}

#nav-list li a:hover {
  color: #DA3738;
}






.logo-img{
  float: left;
  margin: 0px 15px 15px 0px;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 22.4%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #eff7ef;
  width: 100%;

  position: absolute;
  top: 100vh;

  padding: 3em 0;
}

.footer p {
  color: #373F41;
  font-weight: bold;
  font-size: 20px;
}

small {
  color: #737B7D;
  font-size: 10px;
  text-align: center;
  width: 50ch;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.footer-links li {
  list-style: none;
}

.footer-links li a {
  text-align: center;

}

.footer-links li:not(:first-child) {
  margin-left: 3em;
}

.footer-links i {
  color: #5A945E;
  width: 12px;
}
