body {
  width: auto;
  font-family: "Mulish";
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.navigation {
  width: 100%;
  text-align: center;
  height: 238px;
}

#nav-list {
  list-style-type: none;
  margin-right: 8%;
}

#nav-list li {
  display: inline;
  font-size: 18px;
  margin: 20px;
  padding-right: 0px;
  padding-top: 45px;
  float: right;
}
#nav-list li a {
  color: #373f41;
  text-decoration: none;
}

#nav-list li a:hover {
  color: #da3738;
}

.logo-img {
  float: left;
  margin: 0px 15px 15px 0px;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 22.4%;
}

/* Sponsors section styles */
/* TODO: Fix spacing between heading and images
      Make images responsive */
.sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsors p {
  font-weight: bold;
  font-size: 32px;
}

/* Footer styles */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #eff7ef;
  width: 100%;

  position: absolute;
  top: 100vh;

  padding: 3em 0;
}

.footer p {
  color: #373f41;
  font-weight: bold;
  font-size: 20px;
}

small {
  color: #737b7d;
  font-size: 10px;
  text-align: center;
  width: 50ch;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.footer-links li {
  list-style: none;
}

.footer-links li a {
  text-align: center;
}

.footer-links li:not(:first-child) {
  margin-left: 3em;
}

.footer-links i {
  color: #5a945e;
  width: 12px;
}
