body {
  width: auto;
  font-family: "Mulish";
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}


.navbar {
  margin-top: 2%;
  margin-bottom: 2%;
}


.nav-link {
  font-size: 16px;
  color: #373f41;
  margin-right: 10px;
}

.navbar-nav {
 margin-right: 3%;
}

.navbar-brand {
  margin-left: 3%;
}

a.nav-link:hover { 
color:#DA3738 !important;
}



/* Sponsors section styles */
/* TODO: 
    Fix spacing between heading and images
    Fix spacing so that images are level
    Make images responsive */
.sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsors p {
  font-weight: bold;
  font-size: 32px;
}

/* Leadership styles */
/*  TODO:
    Make sure heading isn't broken in smaller resolution once heading is responsive */

.row-b-padding {
  margin-bottom: 87px;
}

.member-infobox {
  width: 260px;
  margin: 0 auto;
}

.eboard-heading {
  margin-bottom: 39px;
  height: 80px;
}

.eboard img {
  object-fit: cover;
  width: 260px;
  height: 310px;
  margin: 36px 0;
}

h2 {
  font-weight: bold;
  font-size: 32px;
  color: #373f41;
}

.position,
.member-name {
  font-weight: bold;
}

.position,
.member-name,
.member-email {
  color: #737b7d;
}

.position {
  font-size: 16px;
}

.member-name {
  font-size: 24px;
}

.member-email {
  font-size: 20px;
}

/* Footer styles */
/* TODO: Ensure footer's non-absolute positioning doesn't mess it up */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #eff7ef;
  width: 100%;

  /* position: absolute;
  top: 100vh; */

  padding: 3em 0;
}

.footer p {
  color: #373f41;
  font-weight: bold;
  font-size: 20px;
}

small {
  color: #737b7d;
  font-size: 10px;
  text-align: center;
  width: 50ch;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.footer-links li {
  list-style: none;
}

.footer-links li a {
  text-align: center;
}

.footer-links li:not(:first-child) {
  margin-left: 3em;
}

.footer-links i {
  color: #5a945e;
  width: 12px;
}

/* Media Queries*/


@media  (max-width: 1024px) and (min-width: 814px) {
  #nav-list li {
    font-size: 1.0em;
 }
}

@media  (max-width: 814px) and (min-width: 656px) {
  #nav-list li {
    font-size: 0.8em;

 }
}

@media  (max-width: 656px) and (min-width: 600px) {
  #nav-list li {
    font-size: 0.7em;

 }
}
